{%extends 'base.html'%}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Contact</title>

    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    {% endblock base_style%}
</head>
<body>
    {% block content %}
    <div id="body-content">
        <!-- sliding image -->
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        <!-- Carousel Wrapped -->
        <div id="carousel" class="carousel">
            <div class="each-img">
                <img src="{% static 'images/drinkingwater2.jpg' %}" alt="Image 2">
            </div>
            <div class="each-img">
                <img src="{% static 'images/drinkingwater3.jpg' %}" alt="Image 1">
            </div>
            <div class="each-img">
                <img src="{% static 'images/drinkingwater1.jpg' %}" alt="Image 1">
            </div>
            <i class="ri-arrow-left-circle-line" id="prevbtn"></i>
            <i class="ri-arrow-right-circle-line" id="nextbtn"></i>
        </div>
        <div id="rest-content">
            <p><strong>{% translate 'Welcome' %}</strong><br>
                Your trusted destination for pure hydration:
                Quench your thirst, protect your health<br>
                At Drinking Water, we are dedicated to ensuring that every drop you consume is pure, refreshing and safe. 
                We prioritize your well-being by providing top class solutions for the pure drinking water you and your family deserve.<br>
            <fieldset>
                <legend><strong>Why choose drinking water?</strong></legend>
                <ul>
                    <li><strong>Quality Assurance:</strong> We adhere to strict standards to guarantee that the water you drink is free from impurities, 
                        contaminants and any harmful elements.</li>
                    <li><strong>State-of-the-art technology:</strong> Utilizing the latest advances in water purification, our systems are designed to deliver 
                        unmatched quality and reliability.</li>
                    <li><strong>Environmental Responsibility:</strong> We are committed to eco-friendly practices, minimizing our environmental impact while 
                        providing exceptional drinking water solutions.</li>
                    <li><strong>Customer-centric approach:</strong> Your satisfaction is our priority. We provide dedicated customer 
                        support and reliable services to meet your specific needs.</li>
                </ul>
            </fieldset>
            <fieldset>
                <legend><strong>Our range of products and services:</strong> </legend>
                <ul>
                    <li><strong>Home Filtration Systems:</strong> Explore our range of home water filtration systems, 
                        ensuring your family has access to pure, great-tasting water straight from the tap.</li>
                    <li><strong>Professional solutions:</strong> Customized solutions for businesses, ensuring access to high-quality water for employees, 
                        customers, and guests in a variety of commercial settings.</li>
                    <li><strong>Bottled Water Delivery:</strong> Access to clean water with convenient, scheduled delivery services
                        Guaranteed to be delivered to your doorstep when and where you need it.</li>
                    <li><strong>Maintenance and Support:</strong> Our team of experts is ready to assist with the installation, maintenance,
                         and support of all our products, ensuring a seamless experience.</li>
                </ul>
            </fieldset>
            <strong>Join the drinking water movement</strong><br>
            We invite you to join us in our mission to make clean, safe water accessible to all. Together, 
            let's take a step towards a healthier, more sustainable future.
            Contact us today
            Experience the purity and freshness of drinking water. Contact us today to find out more about our products, services, 
            and how we can enhance your life with clean, refreshing water.<br>
            <strong>Drinking water - where quality hydration meets.</strong> </p>
            <marquee class="myscrl" behavior="alternate" direction="">Our water, pure water</marquee>
        </div>
        <script src="{% static 'scripts/index.js' %}"></script>
        <!-- current nepali date -->
        <script>
            let _mypatroDateFormat = 5;
            let _mypatroResponseType = 'html';
            let script = document.createElement('script');
            script.src = 'https://mypatro.com/resources/nepali_date/nepali_date.js';
            document.head.appendChild(script);
        </script>
        <!-- current nepali date -->
        {% endblock %}
    </div>
</body>

</html>